header {
	height:200px;
	width:100%;
	background-color:green;
}
.loggedin {
	position:absolute;
	right:20px;
	margin-top:10px;
}
.menu li {
display:inline-block;
font:bold 20px Tahoma;
padding: 1px 3px 1px 3px;
color:white;
border-right: 1px solid white;

}
.menu {
    position:absolute;
	margin-left:300px;
	margin-top:150px;
	height:32px;
	width:60%;
	
	
	
}
.menu li a{
	text-decoration:none;
	color:white;
	
}
#lastlink {
	border:none;
}
.sidebar {
    position:absolute;
	right:20px;
	width:200px;
	border-left:2px solid black;
}
.sidebar h2{
	font:bold 12px Arial;
}
.man {
	width:160px;
	height:460px;
	margin:1px 1px 1px 1px
}

footer {
   
	
	bottom:2px;
	
	background-color:black;
}
footer p{
	padding:2px;
	color:white;
}

